* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2 {
  font-family: 'Merriweather', serif;
}
h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
}
dl, ol, ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}