.Button-navigate {
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
  padding: 0;

  & span {
    margin-left: -5px;
    line-height: 25px;
    font-size: 20px;
    
    &.is-home {
      margin-left: -2.5px;
      line-height: 18px;
      font-size: 24px;
    }
  }
}